Flask==0.9
Jinja2==2.6
Werkzeug==0.8.3
gunicorn==0.17.2
Flask-PyMongo
Flask-Testing
Flask-Security
Flask-Social
Flask-WTF
BeautifulSoup
pymongo
oauth
requests
httplib2
disqus-python
python-twitter
oauth2client 
google-api-python-client
