Flask==0.9
Jinja2==2.6
Werkzeug==0.8.3
gunicorn==0.17.2
Flask-PyMongo
Flask-Testing
Flask-OAuthlib==0.4.1
Flask-Social
Flask-WTF
Flask-SSLify
BeautifulSoup
pymongo
oauth
requests
httplib2
disqus-python
google-api-python-client
gevent
redis
raven>=3
blinker
