<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{{static('img/papertalk.png')}}" height="20"/> papertalk</a>
  </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form id="articleForm" method="GET" class="navbar-form navbar-left" action="" role="search">
            <div class="form-group">
                <input type="text" class="input-xlarge form-control" id="articleInput"  name="query" placeholder="title, author, or link to a paper" />
                <input type="hidden" name="site" id="siteInput" value="unknown">
            </div>
            <button type="submit" class="btn btn-primary">go</button>
        </form>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated() %}
                    <li><a href="#">{{current_user['username']}}</a></li>
                    <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> </a></li>
                {% else %}
                    <li><a href="/login" style="padding-top: 10px;padding-bottom: 10px;">
                        <!--<img src="{{static('img/google_signin.png')}}" />-->
                        <!--<img src="{{static('img/twitter_signin_base.png')}}" />-->
                    </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div><!-- /.navbar-collapse -->
</nav>
<div class="container">
    <ul class="pull-right nav navbar-nav">
        <li>
            <g:plus annotation="bubble" action="share"></g:plus>
        </li>
        <li>
            <a href="https://twitter.com/share"
               class="twitter-share-button"
               data-via="papertalk_"
               data-dnt="true">Tweet</a>
        </li>

    </ul>
</div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script src="https://apis.google.com/js/plusone.js"></script>
