{% extends 'base.html' %}

{% block content %}
<div class="col-md-8">
<h1 class="article-title">{{article.title}} 
	<span class="year">{{article.year}}</span>
</h1>
<h4>
	{% for a in article.authors %} 
    {{a}}{% if not loop.last %}, {% endif %}
	{% endfor %}
</h4>
<a href="{{article.url}}">URL</a>
<hr>
{{ reactions.count() }} Reactions

    <ul>
        {% for reaction in reactions %}
        <li>
            <a href="/reaction/{{reaction._id}}">
                <span class="reaction-title">{{reaction.title}}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="col-md-4">
    <a class="btn btn-primary btn-large" 
        type="button" 
        id="reactionNew" 
        href="/article/{{article._id}}/reaction">New Reaction
    </a>
    <br>
    <a class="btn btn-primary btn-large"
        type="button"
        id="declareAuthor"
        href="/article/{{article._id}}/author">I am an author
    </a>
    <br>
    <a class="btn btn-primary btn-large"
        type="button"
        id="reportDuplicate"
        href="/article/{{article._id}}/duplicate">Report Duplicate
    </a>
    <hr>
<!--
<div class="col-md-6">
    {% include "_disqus.html" %}
</div>
-->

</div>
<script src="{{url_for('static', filename='js/article.js')}}"></script>
{% endblock %}

