{% extends 'base.html' %}

{% block content %}
<span class="article-title"><a href="{{article.url}}">{{article.title}}</a></span>

<div class="authors">
	{% for a in article.authors %} 
		<span class="author">{{a}}</span>
		{% if not loop.last %}, {% endif %}
	{% endfor %}
	<span class="year">{{article.year}}</span>
</div>

<div>
    <h2>Reactions</h2>
    <a class="btn btn-primary btn-large" 
        type="button" 
        id="reactionNew" 
        href="/article/{{article._id}}/reaction">New Reaction
    </a>

    <ul>
        {% for reaction in reactions %}
        <li>
            <a href="/reaction/{{reaction._id}}">
                <span class="reaction-title">{{reaction.title}}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% include "_disqus.html" %}

<script src="{{url_for('static', filename='js/article.js')}}"></script>
{% endblock %}

