{% extends 'base.html' %}

{% block content %}
<p>Papertalk is designed and developed in the open, and we'd love to have your help. The contributors hang out in our discussion group, so that's the best place to find us.</p>

<p>Also check out the <a href="https://github.com/karissamck/papertalk">github repo</a>, especially the current <a href="https://github.com/karissamck/papertalk/issues?state=open">issue list</a> and <a href="https://github.com/karissamck/papertalk/wiki">wiki</a>.</p>

<p>Although Papertalk is open, we focus on user experience to a degree more typically associated with consumer web services, rather than academic projects. In these early days, the core contributors will keep a firm hand on the rudder to make sure that the project gets a solid start.</p>

{% endblock %}

