{% set page = "index" %}
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-lg-offset-2">
            <div class="header">
                <h1>
                    <div class="header-title pull-left">Papertalk<small>beta</small></div>
                    <img class="pull-right" src="{{ static('img/papertalk.png')}}" id="logo"/>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
                <form action="" id="articleForm" method="GET">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" id="articleInput" placeholder="title, author, or link to a paper">
                        <input type="hidden" name="site" id="siteInput" value="unknown">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-large" type="submit" id="articleGo">go</button>
                        </span>
                    </div>
                </form>
            <div id="status"></div>
            <div id="papersites" class="panel-body">
                 <img src="/static/img/logo-mendeley.png" class="hidden" id="mendeley"/>
                 <img src="/static/img/ssrn-logo.png" class="hidden" id="ssrn"/>
                 <img src="/static/img/pdf.png" class="hidden" id="pdf"/>
            </div>
        </div>
    </div>
</div>

{% endblock %}
