{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-lg-offset-2">
            <div class="header">
                <h1>
                    <div class="header-title pull-left">Papertalk<small>beta</small></div>
                    <img class="pull-right" src="/static/img/papertalk.png" id="logo"/>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
                <form action="/article/search" id="articleForm" method="GET">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" id="articleInput" placeholder="e.g. collective dynamics watts">
                        <input type="hidden" name="site" id="siteInput" value="unknown">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-large" type="submit" id="articleGo">search</button>
                        </span>
                    </div>
                </form>

                    <div id="status"></div>
            <div id="papersites" class="panel-body">
                <p class="muted">enter a title and author</p>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/site.js" type="text/javascript"></script>
<script src="/static/js/main.js" type="text/javascript"></script>
{% endblock %}
