{% extends 'base.html' %}

{% block content %}
<div id="header-block">
	<div>
		<span class="reaction-title">{{reaction.title}}</span>
	</div>
	<div>(for <a href=""><span>{{article.title}}</span></a>)</div>
</div>

<div id="wmd-button-bar" style="display:none"></div>
<textarea id="wmd-input"  class="form-control" style="display: none;">
{{reaction.body}}
</textarea>
<div id="wmd-preview" class="col-lg-12"></div>

<script src="{{url_for('static', filename='vendor/pagedown/Markdown.Converter.js')}}"></script>
<script src="{{url_for('static', filename='vendor/pagedown/Markdown.Editor.js')}}"></script>
<script src="{{url_for('static', filename='js/reaction.js')}}"></script>
{% endblock %}

