{% extends 'base.html' %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
<div class="pull-left">
    <a href="/article/view/{{article._id}}">
            <span>{{article.title}}</span></a>
</div>
<div id="header-block">
	<div>
		<h1>{{reaction.title}}</h1>
	</div>
</div>

<div id="wmd-button-bar" style="display:none"></div>
<textarea id="wmd-input"  class="form-control" style="display: none;">
{{reaction.body}}
</textarea>
<div id="wmd-preview" class="col-lg-12"></div>

{% include '_disqus.html' %}
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.min.js"></script>
<script src="{{url_for('static', filename='js/reaction.js')}}"></script>
{% endblock %}

