.faded {
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}

#papersites > img {
    width: 150px;
}

html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
	padding-bottom: 80px;
    height:100%;

}

.center {
    text-align: center;
}

#footer {
    position: relative;
	margin-top: -80px;
	height: 80px;
	clear:both;
	background-color: #ecf0f1;
	border-top: 1px solid #ddd;
	padding-top:30px;
}

h1 {
    color: #34495e;
    text-rendering: optimizeLegibility;
}

p {
    font-size: 16px;
}

.btn-primary {
    border-color: #e67e22;
    background-color: #e67e22;
    background-image: none;
}

.btn-primary:hover {
    border-color: #d35400;
    background-color: #d35400;
}

.header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
}

.header-title {
    padding-top: 170px;
    font-size: 80px;
}

.article-title {
    font-size: 32px;
}

.reaction-title {
    font-size: 32px;
}

.author {
    font-size: 26px;
}

.year {
    font-size: 26px;
}

.wepay-widget-button {
    padding: 6px 12px !important;
    color: black !important;
}

@media (max-width: 780px) {

    #papersites > img {
        width: 75px;
    }

    .header-title {
        font-size: 48px;
        padding-top:100px;
        padding-bottom:10px;
    }

    #logo {
        width: 50px;
    }
}